.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 2vw;
  background-image: url("./img/backdrop.jpg");
}

.diagram-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 96vw;
  min-height: 40vh;
  margin-bottom: 5rem;
}

.star-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 96vw;
  min-height: 40vh;
}

.hr-diagram {
  height: 30rem;
  width: 30rem;
  border: 2px solid white;
} 

.hr-pointer {
  transform: translate(-50%, -.5rem);
  background-color: red;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width: 1rem;
  height: 1rem;
}

.star-view {
  width: 50%;
  /* max-width: 30rem; */
  color: white;
}

.star-visual {
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}